<%- include('../partials/head', { title: "Orders" }) %>
  <body>
    <%- include('../partials/header') %>

    <main class="main-orders">
      <section class="orders-list">
        <!-- si hay orders -->
        <% if (orders.length>0) { %>
          <div class="orders-top-row">
            <ul>
              <li class="order-number">Orden</li>
              <li class="order-product-title product-column">Producto</li>
              <li class="order-amount">Cantidad</li>
              <li class="order-price">Precio</li>
              <li class="order-total-price">Precio Total</li>
            </ul>
          </div>
          <div class="orders-table">
            <ul>
              <!-- por cada order -->
              <% for(let i=0; i<orders.length; i++) { %>
                <div class="order-row">

                  <li class="order-number">
                    <%= i+1 %>
                  </li>
                  
                  <div class="order-container">
                    <!-- por cada orderDetail -->
                    <% for (let detail of orderDetail) { %>
                      <!-- que coincida con el id de order -->
                      <% if(orders[i].id == detail.order_id) { %>
                        <div class="order-product product-column">
        
                          <li>
                            <%= detail.product.name %>
                          </li>
                          <li class="order-amount">
                            <%= detail.amount %>
                          </li>
                          <li class="order-price">
                            <%= detail.price %>
                          </li>
                        </div>
                      <% } %>
                    <% } %>
                  </div>
                  <li class="order-total-price">
                    <%= orders[i].totalPrice %>
                  </li>
                </div>
              <% } %>
            </ul>
          </div>
        <% } else { %>
          <p>No tienes órdenes a tu nombre.</p>
        <% } %>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>