<%- include('../partials/head', { title: "Orders" }) %>
  <body>
    <%- include('../partials/header') %>

    <main class="main-orders">
      <section class="orders-list">
        <% if (carts.length>0) { %>
          <!-- <div class="orders-top-row">
            <ul>
              <li class="order-number">Orden</li>
              <li class="order-product-title product-column">Producto</li>
              <li class="order-amount">Cantidad</li>
              <li class="order-price">Precio</li>
              <li class="order-total-price">Precio Total</li>
            </ul>
          </div> -->
          <div class="orders-table">
            <ul>
              <!-- por cada order -->
              <% for(let i=0; i<carts.length; i++) { %>
                <a href="/cart/orderDetail/<%= carts[i].id %>">
                  <div class="col-12 mt-3">
                     <section class="row">
                        <h4 class="col-4"><%= new Date(carts[i].createdAt).toLocaleDateString() %> </h4>
                        <section class="col-8 row info">
                           <div class="col-6">
                              <ul>
                                 <% carts[i].items.forEach(item => { %>
                                    <li style="font-size: 12px;">
                                       <small>
                                          <%= item.product.name %> x<%= item.quantity %>
                                       </small>
                                    </li>
                                 <% }) %>
                              </ul>
                           </div>
                           <div class="col-6">
                              <p >
                                 $<%= carts[i].total %>
                              </p>
                           </div>
                        </section>
                        <section class="col-3">
                           
                        </section>
                     </section>
                  </div>
               </a>
               <hr>
              <% } %>
            </ul>
          </div>
        <% } else { %>
          <p>No tienes compras a tu nombre.</p>
        <% } %>      
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>