<%- include('../partials/head', {
  title: "Havenboards - Loading Product",
}) %>
  <body>
  <%- include('../partials/header') %>

    <main>
      <div class="top-section">
        <section class="top-promotion">
          <article class="top-promotion-img">
            <img src="/images/panoramic/login4.jpg" alt="Foto para login" />
          </article>
        </section>
      </div>
      <div class="content">
        <h1 class="logo">Alta de Producto</h1>
        <div class="contact-wrapper">
          <div class="contact-form">

            <!-- seteamos el form para que pueda recibir imágenes y le damos la ruta que tomará al mandarse -->
            <form action="/products/create" method="POST" enctype="multipart/form-data">

              <p>
                <label for="name">Nombre del Producto*</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  required
                  
                  placeholder="Jean Azul Marino"
                  class="<%= locals.errors && errors.name ? 'is-invalid' : null %>"
                  value="<%= locals.oldData && oldData.name ? oldData.name : null%>"/>
                <% if (locals.errors && errors.name) { %>
                  <label class="infovalidacion">
                    <%= errors.name.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="description">Descripción*</label>
                <input
                  type="text"
                  name="description"
                  id="description"
                  required
                  
                  placeholder="Jean azul oscuro con calce Slim elastizado y un lavado localizado con aspecto desgastado"
                  class="<%= locals.errors && errors.description ? 'is-invalid' : null %>" 
                  value="<%= locals.oldData && oldData.description ? oldData.description : null%>"/>
                  <% if (locals.errors && errors.description) { %>
                    <label class="infovalidacion">
                      <%= errors.description.msg %>
                    </label>
                  <% } %>
              </p>

              <p>
                <label for="image">Ingrese una o más imágenes*</label>
                <input type="file" name="image" id="image" multiple accept="image/*" class="<%= locals.errors && errors.image ? 'is-invalid' : null %>" required/>
                <% if (locals.errors && errors.image) { %>
                  <label class="infovalidacion">
                    <%= errors.image.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="category">Categoría*</label>
                <select
                  name="category"
                  id="category"
                  required
                >

                  <option value="" disabled selected>Seleccionar Categoría</option>

                  <!-- traemos data de la DB y accedemos al nombre -->
                  <% for (let oneCategory of categories) { %>
                    <option value="<%= oneCategory.id %>" 
                    <%= locals.oldData && (oldData.category === oneCategory.name) ? 'selected':"" %>><%= oneCategory.name %></option>
                  <% } %>
                  
                </select>
                <% if (locals.errors && errors.category) { %>
                  <label class="infovalidacion">
                    <%= errors.category.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="subcategory">Subcategoría</label>
                <select
                  name="subcategory"
                  id="subcategory" 
                >
                  <option value=""
                  <%= locals.oldData  && (oldData.subcategory === "") ? 'selected':"" %>>Ninguna</option>

                  <% for (const oneSubcategory of subcategories) { %>
                    <option value="<%= oneSubcategory.id %>" 
                    <%= locals.oldData && (oldData.subcategory === oneSubcategory.name) ? 'selected':"" %>><%= oneSubcategory.name %></option>
                  <% } %>

                </select>
                <% if (locals.errors && errors.subcategory) { %>
                  <label class="infovalidacion">
                    <%= errors.subcategory.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="brand">Marca*</label>
                <select
                  name="brand"
                  id="brand"
                  required
                > 
                  <option value="" disabled selected>Seleccionar Marca</option>

                  <% for (const oneBrand of brands) { %>
                    <option value="<%= oneBrand.id %>" 
                    <%= locals.oldData && (oldData.brand === oneBrand.name) ? 'selected':"" %>><%= oneBrand.name %></option>
                  <% } %>

                </select>
                <% if (locals.errors && errors.brand) { %>
                  <label class="infovalidacion">
                    <%= errors.brand.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="price">Ingrese precio*</label>
                <input type="number" step="0.01" name="price" id="price"  required 
                class="<%= locals.errors && errors.price ? 'is-invalid' : null %>"
                value="<%= locals.oldData && oldData.price ? oldData.price : null%>" 
                />
                <% if (locals.errors && errors.price) { %>
                  <label class="infovalidacion">
                    <%= errors.price.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="discount">Ingrese descuento*</label>
                <input type="number" step="0.01" name="discount" id="discount" required class="<%= locals.errors && errors.discount ? 'is-invalid' : null %>" 
                value="<%= locals.oldData && oldData.discount ? oldData.discount : null%>"/>
                <% if (locals.errors && errors.discount) { %>
                  <label class="infovalidacion">
                    <%= errors.discount.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="sale">En rebajas*</label>
                <select
                  name="sale"
                  id="sale"
                  required
                >
                <!-- poner un if discount distinto 0? -->
                  <option disabled selected>Tiene descuento</option>
                  <option value="1" 
                  <%= locals.oldData  && (oldData.sale === "1") ? 'selected':"" %>>Sí</option>
                  <option value="0" 
                  <%= locals.oldData  && (oldData.sale === "0") ? 'selected':"" %>>No</option>
                </select>
                <% if (locals.errors && errors.sale) { %>
                  <label class="infovalidacion">
                    <%= errors.sale.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="size">Talle*</label>
                <select
                  name="size"
                  id="size"
                >
                  <option value=""
                  <%= locals.oldData  && (oldData.size === "") ? 'selected':"" %> >Talle único</option>

                  <% for (const oneSize of sizes) { %>
                    <option value="<%= oneSize.name %>" 
                    <%= locals.oldData && (oldData.size === oneSize.name) ? 'selected':"" %>><%= oneSize.name %></option>
                  <% } %>
                  
                </select>
                <% if (locals.errors && errors.size) { %>
                  <label class="infovalidacion">
                    <%= errors.size.msg %>
                  </label>
                <% } %>
              </p>
              
              <p class="block">
                <button type="submit">Crear Producto</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
