<%- include('../partials/head',{title: "Havenboards - Tienda"}) %>
  <body>
    <%- include('../partials/header') %>

    <main class="main-shop">
      <section class="shop-category">
        <% if (locals.category) { %>
          <% if (category.name == "Accessory") { %>
            <h1>Accesories</h1>
          <% } else { %>
            <h1><%= category.name %></h1>
        <% } %>
      <% } else if (locals.onsale) { %>
          <h1><%=onsale%></h1>
      <% } else { %>
          <h1>Todos los productos</h1>
      <% } %>
        <article class="shop-category-picture">
          <div class="top-promotion-top">
            <% if (locals.category) { %>
            <img
              src="/images/panoramic/<%= category.image %>"
              alt="<%= category.name %> picture"
            />
            <% } else { %>
              <img
              src="/images/panoramic/Snowboard.jpg"
              alt="man jumping on snowboard"
            />
            <% } %>
          </div>
        </article>

        <article class="shop-filter">
          <div class="shop-filter-select">
            <select name="shop-filter" id="filter">
              <option value="" selected disabled >Filtrar por:</option>
              <option value="name">Nombre del producto</option>
              <option value="price">Precio</option>
              <option value="size">Talle</option>
            </select>
          </div>
        </article>
      </section>

      <section class="shop-view">
        <!-- por cada uno de los productos enviados desde el controlador, dame su... -->
        <% for(i=0; i<products.length; i++) { %>
          <article class="shop-view-img article-box-shadow">
            <a href="/products/detail/<%= products[i].id %>">
              <div class="shop-product-container">
                <div class="shop-img-container">
                  <img src="/images/products/<%= products[i].images[0].name %>" alt="foto producto"/>
                </div>
                <div class="shop-product-info">
                  <div class="shop-article-title">
                    <p><%= products[i].name %></p>
                  </div>
                  <div class="shop-article-price">
                    <p><% if (products[i].sale == 1) { %>
                      <span><%=products[i].discount%>%Off</span>
                    <% } %>
                    $<%= products[i].price %>
                      
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </article>
        <% } %> 
      </section>

      <section class="shop-more">
        <a href="#" class="shop-more-button">Mostrar más productos</a>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
