<%- include('../partials/head',{
  title: "Havenboards - Shopping Cart",
}) %>  
  <body>
  <%- include('../partials/header') %>
    <main class="main-cart">
      <% if(cartProduct.length != 0){ %>
      <h1>Su pedido</h1>
      <section class="cart-shopping">
          <div class="product-detail">
             <div class="row">
                <div class="col-12 col-lg-8 pt-4">
                   <% cartProduct.forEach(item => { %>
                   
                   
                    <article class="cart-product-description">
                        <div class="cart-product-img-container">
                          <a href="/products/productDetail/<%=item.product.id%>"
                            ><img
                              src="/images/products/<%= item.product.images[0].name %>"
                              alt="<%= item.product.name %>"
                          /></a>
                        </div>
                        <div class="cart-product-container">
                          <div class="cart-product-top">
                            <div class="cart-product">
                              <a href="/products/productDetail/<%=item.product.id%>"
                                ><h4 class="cart-product-item"><%=item.product.name%></h4></a
                              >
                              <p class="cart-product-price">Precio: $<%=item.salePrice%></p>
                              <p class="cart-product-price">Cantidad: <%=item.quantity%></p>
                            </div>
                            
                          </div>
                          <div class="cart-product-bottom">
                            <form action="/cart/deleteElement" method="POST" class="mt-4">
                              <input type="hidden" name="itemId" value="<%= item.product_id %>">
                              <button type="submit" class="btn btn-danger ">ELIMINAR</button>
                           </form>
                          </div>
                        </div>
                    </article>
                   <hr>
                   <% }); %>
                   
                </div>
                <div class="col-12 col-lg-4">
                   <article >
                      <h2 >
                         Total: $<%= total %>
                      </h2>
                      <hr>
    
                      <form action="/cart/checkout" method="POST"  style="display: inline-bock">
                        <button type="submit" class="go-to payment">Iniciar compra</button>
                      </form>
                      <hr>
                      <button class="keep-buying"><a href="/products">Seguir comprando</a>
                      </button>
                      <hr>
                   </article>
                </div>
             </div>
          </div>
          <% } else { %>
          <div class="col-12">
             <!--Que esto no lo vea Edu. Jajajajajajaja   Abrazos-->
             <h2 class="text-center" style="padding: 100px 0; color: white; background-color: tomato;">No tienes productos agregados a tu carrito!</h2>
          </div>
          <% } %>
        <!-- descripcion del carrito -->
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
