<%- include('./partials/head', { title: "Havenboards" }) %>
  <body>
    <%- include('./partials/header') %>
    <main class="main-index">
      <div class="top-section">
        <section class="top-promotion">
          <article class="top-promotion-img">
            <div class="top-promotion-top">
              <img src="/images/panoramic/Snowboard.jpg" alt="man and woman holding snowboards"/>
            </div>
            <div class="main-offer promotion-offer">
              <a href="/products">OFERTA INICIAL</a>
            </div>
            <a href="/products" class="shop-now">Shop Now</a>
          </article>
        </section>
      </div>

      <div class="main-section">
        <section class="top-info">
          <article class="top-info-article">
            <p class="top-info-p">Hasta 12 cuotas sin interés</p>
          </article>
        </section>

        <section class="home-categories">
          <article
            class="home-categories-img home-categories-img1 article-box-shadow"
          >
          <div>
            <a href="/products/wakeboard"
              ><img
                src="/images/square/square_2048_wake.jpg"
                alt="wakeboarding girl jumping"
              />
            </div>
            <div>
              <p class="home-categories-title">Wakeboards</p>
              <p class="home-categories-title">Shop Now</p>
            </a>
          </div>
          </article>

          <article
            class="home-categories-img home-categories-img2 article-box-shadow"
          >
            <a href="products/snowboard"
              ><img
                src="/images/square/square_1080_snowboard.jpg"
                alt="man on a snowboard"
              />
              <p class="home-categories-title">Tablas de Snow</p>
              <p class="home-categories-title">Shop Now</p>
            </a>
          </article>

          <article
            class="home-categories-img home-categories-img3 article-box-shadow"
          >
            <a href="/products/surf"
              ><img
                src="/images/square/square_2048x2048_surf-board.jpg"
                alt="surf board on the sand"
              />
              <p class="home-categories-title">Tablas de Surf</p>
              <p class="home-categories-title">Shop Now</p>
            </a>
          </article>

          <article
            class="home-categories-img home-categories-img4 article-box-shadow"
          >
            <a href="/products/skateboard"
              ><img
                src="/images/square/square_2018_skate.jpg"
                alt="girl skateboarding"
              />
              <p class="home-categories-title">Tablas de Skate</p>
              <p class="home-categories-title">Shop Now</p>
            </a>
          </article>

          <article
            class="home-categories-img home-categories-img5 article-box-shadow"
          >
            <a href="/products/accessory"
              ><img
                src="/images/square/square_900_accessories.jpg"
                alt="man with accessories"
              />
              <p class="home-categories-title">Accesorios</p>
              <p class="home-categories-title">Shop Now</p>
            </a>
          </article>
        </section>

        <section class="home-section-sales">
          <h2 class="home-sales-title">Productos en oferta</h2>

          <div class="home-sales">
            <% for (let product of sales) { %>
              <article class="home-sales-img article-box-shadow">
                <a href="/products/detail/<%=product.id%>">
                  <div class="sales-product-container">
                    <div class="sales-img-container">
                      <img src="/images/products/<%= product.images[0].name %>" alt="en oferta" />
                    </div>
                    <div class="sales-info-container">
                      <h3><%=product.name%></h3>
                      <p>$<%=product.price%>
                        <% if(product.sale == 1) { %>
                          <span><%= product.discount %>%Off</span>
                        <% } %>
                      </p>
                    </div>
                  </div>
                </a>
              </article>
            <% } %>
          </div>

          <div class="sales-button">
            <button type="#">VER MÁS</button>
          </div>
        </section>

        <section class="bottom-info">
          <article class="bottom-info-article">
            <p class="bottom-info-p">Lorem ipsum dolor sit amet.</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              voluptatem, cum eaque animi sint necessitatibus ut dolorem maxime
              explicabo nemo exercitationem autem sit! Quae quidem natus
              cupiditate officiis atque laboriosam provident, non nesciunt
              laudantium ab incidunt unde dicta perspiciatis itaque ipsa sit,
              magni recusandae, explicabo praesentium quas repellendus! Cumque
              modi id, rem eos nisi laboriosam animi laudantium nihil tenetur
              suscipit!
            </p>
          </article>
        </section>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
