<%- include('../partials/head', {title:"Sign Up"}) %>
  <body>
  <%- include('../partials/header') %>

    <main>
      <div class="top-section">
        <section class="top-promotion">
          <article class="top-promotion-img">
            <img src="/images/panoramic/login4.jpg" alt="Foto para login" />
          </article>
        </section>
      </div>
      <div class="content content-register">
        <h1 class="logo">Crear Cuenta</h1>
        <div class="contact-wrapper">
          <div class="contact-form">

            <form action="/users/register" method="POST" enctype="multipart/form-data">
              <p>
                <label for="firstName">Nombre*</label>
                <input
                  type="text"
                  name="firstName"
                  id="firstName"
                  minlength="1"
                  maxlength="20"
                  required
                  pattern="([^\s][A-zÀ-ž\s]+)"
                  placeholder="Introduzca su nombre"
                  class="<%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                  value="<%= locals.oldData && oldData.firstName ? oldData.firstName : null%>"
                />
                <% if (locals.errors && errors.firstName) { %> 
                  <label class="infovalidacion">
                    <%= errors.firstName.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="lastName">Apellido*</label>
                <input
                  type="text"
                  name="lastName"
                  id="lastName"
                  minlength="1"
                  maxlength="20"
                  required
                  pattern="([^\s][A-zÀ-ž\s]+)"
                  placeholder="Introduzca su apellido"
                  class="<%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                  value="<%= locals.oldData && oldData.lastName ? oldData.lastName : null%>"
                />
                <% if (locals.errors && errors.lastName) { %> 
                  <label class="infovalidacion">
                    <%= errors.lastName.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label for="email">E-mail*</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="email@havenboards.com.ar"
                  required
                  title="El campo debe tener un dato del tipo E-mail, conteniendo el símbolo @"
                  class="<%= locals.errors && errors.email ? 'is-invalid' : null %>"
                  value="<%= locals.oldData && oldData.email ? oldData.email : null %>"
                  />

                <% if (locals.errors && errors.email) { %> 
                  <label class="infovalidacion">
                    <%= errors.email.msg %>
                  </label>
                <% } %>
                
              </p>

              <p>
                <label>Contraseña*</label>
                <input type="password" name="password"
                required
                class="<%= locals.errors && errors.password ? 'is-invalid' : null %>"/>

                <% if (locals.errors && errors.password) { %> 
                  <label class="infovalidacion">
                    <%= errors.password.msg %>
                  </label>
                <% } %>
              </p>

              <p>
                <label>Repetir contraseña*</label>
                <input type="password" name="password2"
                required
                class="<%= locals.errors && errors.password2 ? 'is-invalid' : null %>"/>

                <% if (locals.errors && errors.password2) { %> 
                  <label class="infovalidacion">
                    <%= errors.password2.msg %>
                  </label>
                <% } %>
              </p>

              <!-- <p>
                <label>Repetir Contraseña*</label>
                <input type="password" name="rePassword" required />
                <label class="infovalidacion"
                  >Las Contraseñas deben coincidir</label>
              </p> -->


              <p>
                <label for="image">Ingrese imagen de perfil*</label>
                <input type="file"
                  name="avatar"
                  id="image"
                  class="<%= locals.errors && errors.avatar ? 'is-invalid' : null %>"/>
                  <% if (locals.errors && errors.avatar) { %> 
                    <label class="infovalidacion">
                      <%= errors.avatar.msg %>
                    </label>
                  <% } %>
              </p>

              <p class="block">
                <button type="submit">Crear Cuenta</button>
              </p>

            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>


